
*{
    margin: 10px;
    margin-top: 10px;
    margin-left: 25px;
}

.icono{
    margin-left: 450px;
}
.empleado{
margin-left: 350px;
}

.estilo{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
   
    font-family: 'Montserrat', sans-serif;
}

label{
    font-family: 'Montserrat', sans-serif;
}