{% extends './FrontEnd/layaut.html' %}
<!--Pagina de principal(index) de la FrontEnd-->

{% block title %}Bievenido{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for ('static' , filename='css/index.css')}}">

{% endblock %}

{% block body %}

<!-- div para contener las carta de imagenes-->
<div class="container">
  <div class="title-container">
    <h1>Proyecto Bitácora</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/img/bitacora1.jpg" alt="Imagen 1">
        <div class="card-body">
          <h5 class="card-title">La importancia de las bitácoras</h5>
          <p class="card-text">Descubre por qué las bitácoras son esenciales para el seguimiento y registro de actividades en proyectos y tareas.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/img/bitacora2.jpg" alt="Imagen 2">
        <div class="card-body">
          <h5 class="card-title">Optimiza tu tiempo con una bitácora</h5>
          <p class="card-text">Aprende cómo una bitácora puede ayudarte a gestionar y aprovechar mejor tu tiempo, aumentando tu productividad.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/img/bitacora3.jpg" alt="Imagen 3">
        <div class="card-body">
          <h5 class="card-title">Bitácoras: una herramienta indispensable</h5>
          <p class="card-text">Descubre por qué las bitácoras son una herramienta esencial en la planificación y seguimiento de proyectos a largo plazo.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/img/bitacora4.jpg" alt="Imagen 4">
        <div class="card-body">
          <h5 class="card-title">Registro detallado y análisis</h5>
          <p class="card-text">Aprende cómo el registro detallado en una bitácora te permite realizar un análisis exhaustivo de tus actividades y progresos.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    <div class="card">
    <img class="card-img-top" src="static/img/bitacora5.jpg" alt="Imagen 5">
    <div class="card-body">
    <h5 class="card-title">Bitácoras y colaboración en equipo</h5>
    <p class="card-text">Descubre cómo las bitácoras facilitan la colaboración y comunicación efectiva entre los miembros de un equipo de trabajo.</p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card">
    <img class="card-img-top" src="static/img/bitacora6.jpg" alt="Imagen 6">
    <div class="card-body">
    <h5 class="card-title">Seguimiento del progreso y metas</h5>
    <p class="card-text">Aprende cómo las bitácoras te permiten realizar un seguimiento efectivo de tu progreso y alcanzar tus metas de manera más eficiente.</p>
    </div>
    </div>
    </div>
    </div>
    
      </div>

  
{% endblock %}