{% extends './auth/Form.html' %}
{% block title %}Bitacora{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/actualizar_bitacora.css')}}">
{% endblock %}

{% block body %}
    <div class="conteiner">
        <img class="form-floating" src="{{ url_for ('static' , filename ='img/logo.svg')}}" alt="" width="72" height="57">
        <h1 class="form-floating">actualizar bitacora</h1>

        <!-- Div que contiene el label y el textarea para actualizar bitácora -->
        <div class="form-group">
            <label class="form-floating">actualizar bitacora</label> 
            <textarea class="form-control area" id="dato_bitacora"  rows="4" >{{datos.dato_bitacora}}</textarea>
        </div>

        <!-- Div que contiene el label y el textarea para comentarios -->
        <div class="form-group">
            <label class="form-floating">comentarios</label>
            <textarea class="form-control area" id="comentarios"  rows="4" placeholder="Ingrese el contenido" >{{datos.comentarios}}</textarea>
        </div>

        <div class="form-floating">
            <input type="hidden" class="form-control" id="id" value="{{datos.id_bitacora}}" />
        </div>

        <div id="data-url" data-admin-url="{{ url_for('ruta.admin') }}"></div>

        <div class="checkbox mb-3">
            <button class="btn btn-primary"  onclick="submit_entry()">enviar datos</button>
           
        </div>
    </div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static',filename='js/uptade_bitacora.js') }}"></script>
{% endblock %}
