{% extends './layaut.html' %}
{% block title %}actualizar{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/login.css')}}">
{% endblock %}


{% block body %}



    <img class="mb-4" src="{{ url_for ('static' , filename ='img/logo_sigsa.svg')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Actualizar los datos de correo</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="usuario" name="usuario" placeholder="name@example.com" value ="{{datos.usuario}}">
      <label for="floatingInput" >Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" value ="{{datos.password}}">
      <label for="floatingPassword" >Password</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="tipo_usuario" name="tipo_usuario" value="{{ datos.Tipo_User.tipo_usuarios }}" disabled>
      <label for="tipo_usuario">Tipo de usuario</label>
    </div>
    <div class="form-floating">
      <select class="form-select" id="tipo_usuario_select" name="tipo_usuario_select">
        {% for tipo_usuario in tipos_usuario %}
        <option value="{{ tipo_usuario.id }}">{{ tipo_usuario.tipo_usuarios }}</option>
        {% endfor %}
      </select>
      <label for="tipo_usuario_select">Actualizar tipo de usuario</label>
    </div>
    
    
    
    <div class="form-floating">
      <div class="col">
        <div class="form-floating">
          <input type="hidden" class="form-control" id="id" name="id" placeholder="desarrollador de sadi" maxlength="120"
            value="{{datos.id_usuario}}" required />
        </div>
      </div>

      
   <br>
  <br>
    <!--   <button class="w-100 btn btn-lg btn-primary"  type="submit" id="enviar">Enviar Datos</button>-->
   <button class="btn btn-primary"  onclick="submit_entry()" >enviar datos</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>

  {% block customJS %}  
  <script src="{{ url_for('static',filename='js/login.js') }}"></script>
  {% endblock %}
  {% block script %}
  <script>
    function submit_entry(){

          
          var id = document.getElementById('id');
          var idReg = id.value;
          var usuario = document.getElementById('usuario');
          var password = document.getElementById('password');
          
           
        var entry = {
          
          usuario: usuario.value,
          password: password.value
                 };
          
          fetch(`${window.origin}/actualizar/${idReg}`,{
            method: "PUT",
            credentials: "include",
            body:JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
              "content-type": "application/json"
            })
          })
          .then(function(response) {
        if(response.ok) {
            window.location.replace("http://localhost:5000/admin");
            return;
        }
        throw new Error("Error en la respuesta de red");
    }).catch(function(error) {
        console.log(error);
    });
         
    }
  
  </script>
  {% endblock %}
{% endblock %}
