{% extends './auth/Form.html' %}
{% block title %}actualizar{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/actualizar.css')}}">
{% endblock %}

{% block body %}

<div class="conteiner">
  <div class="icon" >
    <img class="mb-4" src="{{ url_for ('static' , filename ='img/logo.svg')}}"  width="72" height="57">
  </div>
  <h1 class="h3 mb-3 fw-normal">Actualizar los datos de correo</h1>
  <div class="form-input">
    <label for="usuario">Email address</label>
    <input type="email" class="form-control" id="email" value="{{datos.email}}">
  </div>
  <div class="form-input">
    <label for="password">Contraseña</label>
    <div class="password-input">
      <input type="password" class="form-control" id="password" value="{{datos.password}}">
      <button class="btn-lg btn-light" style="margin: 1%;" type="button" onclick="mostrarOcultarContrasena()">
        <span id="iconoMostrarOcultar"><i class="fas fa-eye"></i></span> 
      </button>
    </div>
  </div>

  <div class="form-input">
    <label for="tipo_usuario">Tipo de usuario:</label>
    <div class="select-container">
      <select id="User_Type_id_User_Type" class="form-select" style="margin: 5%;">
        {% for user_Types in user_Type %}
        <option value="{{user_Types.id_User_Type }}">{{ user_Types.user_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-input">
    <div class="col">
      <div class="form-floating">
        <input type="hidden" class="form-control" id="id" value="{{datos.id_user}}"  />
      </div>
    </div>
  </div>
  <div id="data-url" data-admin-url="{{ url_for('ruta.admin') }}"></div>


  <br>
  <button class="btn btn-primary form-submit" onclick="submit_entry()">enviar datos</button>

</div>
{% block customJS %}
<script src="{{ url_for('static',filename='js/visualizar_password.js') }}"></script>
<script src="{{ url_for('static',filename='js/uptade_email.js') }}"></script>
{% endblock %}

{% endblock %}

