{% extends './auth/Form.html' %} 
{% block title %}Actualizar empleados{% endblock
%} {% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/actualizar_empleado.css')}}">
{% endblock %} {% block body %}
<div class="container ">
  
    <img class="mb-4" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="72" height="57" />
    <h1 class="h3 mb-3 fw-normal">Actualizar los datos del empleado</h1>

    <div class="row">
      <div class="col-5 estilo">
        <div class="form-floating">
          <input type="text" class="form-control form-control" id="name"  value="{{ datos.name }}" required />
          <label for="nombre">Nombre</label>
        </div>
      </div>

      <div class="col-5 estilo">
        <div class="form-floating">
          <input  type="text" class="form-control form-control" id="rfc"  value="{{ datos.rfc }}" required />
          <label for="rfc">RFC</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 estilo">
        <div class="form-floating">
          <input type="text" class="form-control" id="adress"  value="{{ datos.adress }}" required />
          <label for="direccion">Dirección</label>
        </div>
      </div>

      <div class="col-5 estilo">
        <div class="form-floating">
          <input type="text" class="form-control" id="study_grade"  value="{{ datos.study_grade }}" required />
          <label for="grado_estudio">Grado de Estudio</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 estilo">
        <div class="form-floating">
          <input type="number" class="form-control" id="age" value="{{ datos.age }}" required />
          <label for="edad">Edad</label>
        </div>
      </div>

      <div class="col-5 estilo">
        <div class="form-floating">
          <input type="text" class="form-control" id="position"  value="{{ datos.position }}" required />
          <label for="puesto">Puesto</label>
        </div>
      </div>
    </div>

    <div class="form-floating">
      <input type="hidden" class="form-control" id="id"   value="{{ datos.id_Employees }}" required />
    </div>
 
    <div class="text-center">
      <button  onclick="submit_entry()">Enviar Datos</button>
    </div>

    <div id="data-url" data-admin-url="{{ url_for('ruta.admin') }}"></div>
  
</div>

{% block customJS %}

<script src="{{ url_for('static',filename='js/login.js') }}"></script>
<script src="{{ url_for('static',filename='js/uptade_Empleado.js') }}"></script>

{% endblock %} 

{% endblock %}