<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for ('static' , filename='css/navlat.css')}}">
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    

</head>
<body id="body">
  
    
   <header>
    {% with messages = get_flashed_messages()%} 
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-left: 100px;">
      <strong>{{message}} {{ session['prueba']}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div style="margin-left: 100px;">{{ session['prueba']}}</div>
    



   </header>
      
      <div class="menu__side" id="menu_side">
        
          <div class="icon__menu">
            <i class="fas fa-bars" id ="btn_open"></i>
          </div>
        
        
        <div class="name__page">
            <i class="fab fa-youtube"></i>
            <h4>Sigsa</h4>
        </div>
            
      
        <div class="options__menu">
              <a href="/registro" class="selected">
                  <div class="option">
                    <i class="fa-solid fa-envelope" title="Correos"></i>
                      <h4>Correos</h4>
                  </div>
              </a>

              <a href="/RegistroE" >
                <div class="option">
                  <i class="fa-solid fa-id-card" title="Trabajadores"></i>
                  <h4>Trabajadores</h4>  
                </div>
              </a>
             

              <a href="#" >
                <div class="option">
                  <i class="fa-solid fa-book" title="Bitacoras"></i>
                  <h4>Bitacoras</h4>
                </div>
              </a>
              <a href="/logout" type="button" class="btn btn-link" style="padding-right: -10px;">
                <div class="option">
                  <i class="fa-solid fa-door-open" title="Logout"></i>
                  <h4>Logout</h4>
                </div>
              </a>

            </div>
      </div>
<div class="posicion">
<div class="tabs">
  <div class="tab-container">
    <div id="tab3" class="tab"> 
      <a href="#tab3">Pestaña 3</a>
      <div class="tab-content">
        <h2>Titulo 3</h2>
        <!-- Footer -->
       

      </div>
    </div>
    <div id="tab2" class="tab">
      <a href="#tab2">Pestaña 2</a>
      <div class="tab-content">
        <h2>Datos Trabajadore</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">RFC</th>
              <th scope="col">Dirrecion</th>
              <th scope="col">Grado de estudio</th>
              <th scope="col">Edad</th>
              <th scope="col">Puesto</th>
              <th scope="col">Funciones</th>
              <th scope="col">Funciones</th>
            </tr>
          </thead>
          <tbody>
            {% for prueba in datos_empleado %}
            <tr>
            
              <td>{{loop.index}}</td>
              <td>{{prueba.nombre}}</td>
              <td>{{prueba.rfc}}</td>
              <td>{{prueba.direccion}}</td>
              <td>{{prueba.grado_estudio}}</td>
              <td>{{prueba.edad}}</td>
              <td>{{prueba.puesto}}</td>
              <td><a class="btn btn-primary" class="nav-link" role="button" href="{{ url_for('ruta.actualizar_empleados' , id= prueba.id_empleado)}}">Actualizar</a></td>
              <td><a class="btn btn-primary" class="nav-link" role="button" href="{{ url_for('ruta.Eliminar_empleado',id = prueba.id_empleado)}}">Eliminar</a></td>
            </tr>
            {% endfor %}   
    
          </tbody>
        </table>


    
      </div>
    </div> 
    <div id="tab1" class="tab">
      <a href="#tab1">Pestaña 1</a>
      <div class="tab-content">
        <h2>Correos de los Trabajadores</h2>
       
        <table class="table"  >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Correos</th>
              <th scope="col"></th>
              <th scope="col">Contraseña</th>
              <th scope="col-">Funciones</th>
              <th scope="col-">Funciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
             
             
               {% for leg in user %}
               <tr>
                   <td>{{loop.index}}</td>
                   <td>{{leg.usuario}}</td>
                   <td>{{leg.password}}</td>
                   <td><a class="btn btn-primary" class="nav-link" role="button" href="{{ url_for('ruta.actualizar' , id= leg.id_usuario)}}">Actualizar</a></td>
                   <td><a class="btn btn-primary" class="nav-link" role="button" href="{{ url_for('ruta.Eliminar',id = leg.id_usuario)}}">Eliminar</a></td>
          
           
              
            </tr>
            {% endfor %} 
            
             
          </tbody>
        </table>
    
    

      </div> 
    </div> 
  </div>
</div>
</div>


 

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static',filename='js/json.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lateral.js') }}"></script>
<script src="https://kit.fontawesome.com/dc7acab7cc.js" crossorigin="anonymous"></script>
    
</body>
</div>
<!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="padding-left: 60px;">Redes sociales de SIGSA:</span >
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/sigsa.gis/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/SIGSAmexico" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCKG4v2WVVQKzmyDTUuUnmgQ" class="me-4 text-reset">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/sigsagram/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/sigsa" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="#">SIGSA</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  

  </html>
