{% extends './layaut.html' %}
{% block title %}Bitacora{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/login.css')}}">
{% endblock %}


{% block body %}

<div>
  <a href="/logout" type="button" class="btn btn-primary">Primary</a>
</div>  
<form class="form-signin"  name="myForm" action="/registro_bitacora" method="POST">
    <img class="mb-4" src="{{ url_for ('static' , filename ='img/logo_sigsa.svg')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Registro de bitacora</h1>

    <div class="form-floating">
      
      <textarea name="dato_bitacora" id="bitacora" cols="30" rows="5" placeholder="introduce tu bitacora" ></textarea>
    </div>
    
    <div class="form-floating">
      <textarea name="comentarios" id="comentarios" cols="30" rows="5" placeholder="escriba algun comentario contrusctivo" ></textarea>
    </div>

    <div class="checkbox mb-3">
      
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Open modal
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
              
            <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>contraseña</th>
                            <th>contraseña2</th>
                          
    
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for leng in nombre_bitacora %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{leng.dato_bitacora}}</td>
                            <td>{{leng.comentarios}}</td>
                            <td><a class="nav-link" href="{{ url_for('ruta.actualizar_bitacora' , id= leng.id_bitacora)}}">Actualizar</a></td>
                            <td><a class="nav-link" href="{{ url_for('ruta.Eliminar_bitacora',id = leng.id_bitacora)}}">Eliminar</a></td>

                            <td>
                              <button type="button" class="btn btn-primary
                              " data-bs-dismiss="modal">Close</button>
                             </td>
                        </tr>
                       {% endfor %}   
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>





    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
  {% block customJS %}
  <script src="{{ url_for('static',filename='js/login.js') }}"></script>
  {% endblock %}
{% endblock %}
