{% extends './layaut.html' %}
{% block title %}Login{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for ('static' , filename='css/login.css')}}">
{% endblock %}


{% block body %}

<form class="form-signin"  name="myForm" action="/acceso" method="POST">
    <img class="mb-4" src="{{ url_for ('static' , filename ='img/logo.svg')}}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">INICIAR SESION</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="usuario" name="usuario" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control form-control-md" id="password" name="password" placeholder="Password">
      <button  class="btn-lg btn-light" style="margin: 1%;"  type="button" onclick="mostrarOcultarContrasena()">
        <span id="iconoMostrarOcultar" ><i class="fas fa-eye"></i></span> 
      </button>
    </div>
    <div class="form-floating">
      <input type="hidden" class="form-control" value="{{datos.id_usuario}}">
  
    </div>


    
    <button class="w-100 btn btn-lg btn-primary" type ="submit" id="prueba" style="margin:1% ;">Login</button>
    {% with messages = get_flashed_messages(with_categories=True) %}

    {% if messages %}
    
    {%for category,message in messages %}
    
    {% if category == 'warning' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert"   aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show"  role="alert">
      <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

  </form>

  {% block customJS %}
  <script src="{{ url_for('static',filename='js/login.js') }}"></script>
  <script src="{{ url_for('static',filename='js/visualizar_password.js') }}"></script>
  {% endblock %}
{% endblock %}
