{% extends './auth/Form.html' %}
{% block title %}Registro Empleado{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro_empleado.css') }}">
{% endblock %}

{% block body %}

<div class="container form-container">
  <form class="form-signin" name="myForm" action="{{url_for('ruta.registro_empleado')}}" method="post">
    
    
    <div class="row">
      <div class="col-12 text-center mb-4">
        <img class="img-fluid" src="{{ url_for('static', filename='img/logo.svg') }}" alt="" width="72" height="57" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre del empleado:</label>
          <input type="text" class="form-control" id="nombre" name="name" placeholder="javier lopez" required>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="rfc">RFC del empleado:</label>
          <input type="text" class="form-control" id="rfc" name="rfc" placeholder="slop789" minlength="8" maxlength="120" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="direccion">Dirección del empleado:</label>
          <input type="text" class="form-control" id="direccion" name="adress" placeholder="centro avenida 15" maxlength="120" required>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="grado_estudio">Grado de estudio del empleado:</label>
          <input type="text" class="form-control" id="grado_estudio" name="study_grade" placeholder="licenciatura concluida" maxlength="120" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="edad">Edad del empleado:</label>
          <input type="number" class="form-control" id="edad" name="age" placeholder="35" maxlength="120" required>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="puesto">Puesto del empleado:</label>
          <input type="text" class="form-control" id="puesto" name="position" placeholder="desarrollador de sadi" maxlength="120" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="form-group">
          <label for="tipo_usuario">Selecciona el Correo del Empleado:</label>
          <select name="correo" id="id_empleado">
            {% for correo in email %}
            <option value="{{ correo.id_user }}">{{ correo.email }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <button class="btn btn-primary" type="submit">Enviar Datos</button>
      </div>
    </div>
  </form>
</div>


{% block customJS %}

{% endblock %}

{% endblock %}
